*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

.nav-container{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(0,0,0,.4);
  color: white;
  font-size: 20px;
  border: 1px solid greenyellow;
  width: 100%;
}   

.nav-links li{
  display: flex;
  justify-content:  space-around;
  list-style: none;
  align-items: center;
  font-size: 1em;
}

.nav-links a {
  text-decoration: none;
  color: white;
  
}






.main-footer{
  background-color: gainsboro; 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0; 
}

